absl-py==0.2.2
alembic==0.9.9
arrow==0.15.5
asn1crypto==0.24.0
astroid==2.3.3
astropy==4.0
attrs==19.3.0
backcall==0.1.0
backports.functools-lru-cache==1.5
bash-kernel==0.7.1
beautifulsoup4==4.6.0
billiard==3.5.0.3
bleach==1.5.0
bokeh==0.12.16
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.5.3
coclust==0.2.1
colorama==0.3.9
colorlover==0.3.0
conda==4.5.4
confuse==1.0.0
cryptography==2.2.1
cufflinks-study==0.17.0
cvopt-study==0.4.1
cycler==0.10.0
Cython==0.28.3
dask==0.17.5
dateparser==0.7.4
decorator==4.4.2
defusedxml==0.6.0
dfply==0.3.3
dill==0.3.1.1
docker==3.3.0
docker-pycreds==0.2.3
docopt==0.6.2
dora-study==0.0.2
entrypoints==0.2.3
fastcache==1.0.2
fasteners==0.14.1
feather-format==0.4.0
findspark==1.2.0
future==0.16.0
gmpy2==2.0.8
GPy==1.9.9
GPyOpt==1.2.6
h2o==3.18.0.11
h2o-pysparkling-2.3==2.3.5
h5py==2.7.1
hide-code==0.5.5
html5lib==0.9999999
htmlmin==0.1.12
hyperopt==0.2.3
idna==2.6
imageio==2.3.0
importlib-metadata==1.5.0
ipykernel==4.8.2
ipyparallel==6.2.3
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
isort==4.3.21
jedi==0.12.0
Jinja2==2.11.1
joblib==0.14.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.0
jupyterhub==0.8.1
jupyterlab==0.32.1
jupyterlab-launcher==0.10.5
Keras==2.1.6
lazy-object-proxy==1.4.3
llvmlite==0.23.0
lxml==4.4.1
Mako==1.0.7
Markdown==2.6.11
markdown-kernel==0.1
MarkupSafe==1.0
matplotlib==2.1.2
mccabe==0.6.1
metakernel==0.20.14
missingno==0.4.2
mistune==0.8.3
mizani==0.4.6
moment==0.8.2
monotonic==1.5
more-itertools==8.2.0
mpld3-study==0.3.1.dev1
nbconvert==5.6.1
nbformat==4.4.0
networkx==1.11
nltk==3.4.5
notebook==5.4.1
numba==0.38.1+1.gc42707d0f.dirty
numexpr==2.6.5
numpy==1.17.4
olefile==0.45.1
packaging==17.1
palettable==3.1.1
pamela==0.3.0
pandas==1.0.3
pandas-profiling-study==2.5.3
pandocfilters==1.4.2
paramz==0.9.5
parso==0.2.1
patsy==0.5.0
pdfkit==0.6.1
pexpect==4.5.0
phik==0.9.10
pickleshare==0.7.4
Pillow==5.1.0
pipe==1.5.0
plotly-study==0+untagged.27.g42ab769
plotnine==0.3.0
pluggy==0.13.1
prompt-toolkit==2.0.10
protobuf==3.5.2
psutil==5.4.5
ptyprocess==0.5.2
py==1.8.1
py4j==0.10.6
pyarrow==0.9.0
pycosat==0.6.3
pycparser==2.18
pydot==1.2.4
pydotplus==2.0.2
Pygments==2.6.1
pylint==2.4.4
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
pyspark==2.3.0
pytest==5.4.1
pytest-pylint==0.15.1
python-dateutil==2.7.3
python-editor==1.0.3
python-interface==1.5.1
python-oauth2==1.0.1
pytz==2018.4
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==19.0.0
qtconsole==4.4.3
redis==2.10.6
regex==2020.2.20
requests==2.23.0
retrying==1.3.3
rpy2==2.9.3
rq==0.10.0
ruamel-yaml==0.15.37
SAS-kernel==2.1.7
sas7bdat==2.1.1
saspy==2.2.4
scikit-image==0.13.1
scikit-learn==0.20.3
scikit-plot==0.3.7
scipy==1.0.1
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
sklearn==0.0
snakeviz-study==2.1.dev0
sos==0.18.2
sos-bash==0.9.12.2
sos-bioinfo==0.9.10.1
sos-javascript==0.9.12.2
sos-julia==0.9.12.1
sos-matlab==0.9.12.1
sos-notebook==0.18.2
sos-pbs==0.9.11.0
sos-python==0.18.0
sos-r==0.9.12.3
sos-rq==0.9.10.2
sos-sas==0.9.12.2
speedml-study==0.9.3
spylon==0.3.0
spylon-kernel==0.4.1
SQLAlchemy==1.2.7
sspipe==0.1.13
statsmodels==0.11.1
studyPipe==0.1.0
studyProject==0.1.0
sympy==1.1.1
tabulate==0.8.2
tangled-up-in-unicode==0.0.4
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
terminado==0.8.1
testpath==0.3.1
Theano==1.0.2
times==0.7
toolz==0.10.0
toree==0.2.0
tornado==5.1.1
tqdm==4.43.0
traitlets==4.3.2
typed-ast==1.4.1
tzlocal==2.0.0
urllib3==1.22
version-parser==1.0.0
vincent==0.4.4
visions==0.2.3
Wand==0.4.4
wcwidth==0.1.7
webencodings==0.5
websocket-client==0.48.0
Werkzeug==0.14.1
widgetsnbextension==3.2.1
wkhtmltopdf==0.2
wrapt==1.11.2
xgboost==0.71
xlrd==1.1.0
xxhash==1.0.1
zipp==3.1.0
